#container{
  display: inline;
}
#wrapper{
  width: 75%;
  float: left;
  display: inline-block;
}
#sidebar{
  width: 25%;
  float: right;
  background-color: red;
  margin-top: 5vh;
  height: 90vh;
  display: inline-block;
}
i {
  font-size: 4em;
}
.skill {
  float: left;
  width: 6em;
  border: 1px solid red;
  margin: 1em;
}
